<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Baphirmationator Beta</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="vue.global.js"></script>
    <link rel="stylesheet" href="style001.css">

  </head>
  <body>
       <div id="app">
            <div class="wrapper">
          
            <header class="branding">

              <img src="img-001/aster004@0.5x.png" alt="Baphirmationator Logo" class="logo">
                <div class="siteSlogan">
                <p class="siteSlogan">Aster Nightshade's</p>
                <h1 class="siteName">Baphirmationator</h1>
              </div>
            
            </header>

            <header class="header">

              <div v-if="selectedCategory" class="buttons">
                <h2 class="category">{{ selectedCategory }}</h2>
              </div>

              <div v-else-if="selectedCategory === null" class="buttons">
                <h2 class="category">You are the Ultimate Source of Empowerment!</h2>
              </div>
            
            </header>

            <aside class="sidebar">

              <div v-if="selectedCategory">
                <img v-if="selectedCategory" :src="selectedCategoryImage" alt="">
              </div>

              <div v-else-if="selectedCategory === null">
                <img src="img-001/Baphomet_Giraffe_Linda.png" alt="" class=""> 
              </div>
              

            </aside>

            <article class="content">

              <div v-if="selectedCategory">
                <p>{{ currentBaphirmation }}</p>    
              </div>
              
              <div v-else-if="selectedCategory === null">
                <p>Choose a Category to start the Baphirmationator</p>
              </div>

            </article>

            <footer class="footer category">

              <div v-if="selectedCategory"   class="buttons">  
                <button type="button" @click="generateNextBaphirmation">
                  Baphirmate
                </button>
              </div> 

              <div v-else-if="selectedCategory === null" class="buttons">
                <button type="button">
                  Click a Category to Begin
                </button>
              </div>
            </footer>

            <footer class="footer">

              <div class="buttons">
                <button v-for="(category, key) in baphirmationCategories" :key="key" type="button" @click="selectCategory(key)">{{ key }}</button>
              </div>
            </footer>
          
          </div> <!-- end of wrapper div -->


      </div> <!-- end of app div -->
    <script src="app.js"></script>
  </body>
</html>
